

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron h1 {
    color: rgba(200, 50, 255, 1);
}


.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}

.form-post {
    margin: 0 auto;
    padding: 15px;
}

.form-signin .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}

.form-post .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}






